@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  /* Admin Colors */
  --bg-dark: oklch(92.494% 0.00011 271.152);
  --bg-light: oklch(100% 0.00011 271.152);
  --bg-first: oklch(75.36% 0.14286 295.658);
  --bg-second: oklch(82.848% 0.15825 324.989);
  --bg-third: oklch(93.1% 0.07677 203.105);
  --text-from: oklch(62.912% 0.25647 29.075);
  --text-to: oklch(59.318% 0.13157 21.849);
  --text-primary: oklch(19.896% 0.04242 21.611);
  --gradient-from: oklch(60.042% 0.24051 7.825);
  --gradient-to: oklch(56.551% 0.23207 29.223);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* My Customized Colors */
  --color-bg-dark: var(--bg-dark);
  --color-bg-light: var(--bg-light);
  --color-bg-first: var(--bg-first);
  --color-bg-second: var(--bg-second);
  --color-bg-third: var(--bg-third);
  --color-text-from: var(--text-from);
  --color-text-to: var(--text-to);
  --color-text-primary: var(--text-primary);
  --color-gradient-from: var(--gradient-from);
  --color-gradient-to: var(--gradient-to);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@theme {
  --animate-pulse: pulse 4s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
